@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.wrapper {
    width: 90%;
    margin: auto;
}

/* Typography */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h1, h2, h3 {
    color: #333333;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
}

a, p, ol, ul, button, label, input {
    color: #333333;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

/* Flex Properties */

form {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.group {
    display: flex;
    /* Column on mobile, row on desktop */
    flex-flow: column;
}

.item {
    flex: 1;
}

/* Elements */

a {
    text-decoration: none;
}

a:hover {
    color: #c6a700;
}

button, input, label {
    margin: 10px;
}

input {
    background-color: #FFF;
    border: 0;
    border-bottom: 2px solid #FFEE58;
    width: 50%;
}

li {
    margin-bottom: 5px;
}

/* Elements with Custom CSS Names */

.completed {
    text-decoration: line-through;
}

.error {
    color: #B00020;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    text-align: center;
}

.main {
    background-color: #FFFF6b;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    padding: 10px;
}

.r-btn, .y-btn {
    border: none;
    background-color: white;
}

.r-btn:hover {
    color: #B00020;
    cursor: pointer;
    text-shadow: 1px 1px 2px #333333;
}

.y-btn:hover {
    color: #fdd835;
    cursor: pointer;
    text-shadow: 1px 1px 2px #333333;
}

.small-button {
    margin: 0;
}

.small-icon {
    font-size: 16px;
}

.white {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    margin: 10px;
    padding: 15px;
}

/* Tooltips */

.input-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.input-tooltiptext {
    visibility: hidden;
    z-index: 1;
}

.input-tooltip:hover .input-tooltiptext {
    background-color:  #333333;
    border-radius: 5px;
    padding: 5px;

    color: #FFF;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    text-align: left;
    
    position: absolute;
    z-index: 1;

    visibility: visible;
}

.tooltip {
    position: relative;
}

.tooltip .long.tooltiptext {
    text-align: left;
    width: 150px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.tooltip .tooltiptext {
    background-color:  #333333;
    border-radius: 5px;
    padding: 5px;

    color: #FFF;
    font-size: 12px;
    text-align: center;
    
    bottom: 60%;
    position: absolute;
    z-index: 1;

    visibility: hidden;    
}

/* Dashboard Page */

.dashboard-components-group {
    display: flex;
    flex-flow: column;
}

.dashboard-component-group {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: 5px;
    line-height: 24px;
}

.list-item-group {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.list-item-input {
    width: 80%;
}

.buttons-group {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* Search Form Page */

.search-form-group {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    margin: 10px;
    padding: 15px;
}

.search-form-inputs-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.search-form-input-group {
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.search-input-image {
    height: 320px;
    width: 85%;
}

@media all and (min-width: 800px) {
    .wrapper {
        width: 75%;
        margin: auto;
    }

    .group {
        flex-flow: row;
    }

    .main {
        padding: 15px;
    }

    h1 {
        text-align: left;
    }

    .search-form-inputs-group {
        flex-flow: row wrap;
    }

    .search-input-image {
        height: 320px;
        width: 240px;
    }

}