@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@300;400&family=IBM+Plex+Serif:wght@300;400&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    /* background-image: url(../../images/hurricane.jpg);
    filter: saturate(1); */
    margin-top: 0;
}

/* Reusable app/global-level CSS properties */
.wrapper {
    /* width: 95%; */
    margin: auto;
    /* border: 1px solid #04030B */
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Header text default */
h1, h2, h3 {
    color: #37474f;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
}

h1 {
    font-size: 30px;
}

/* Text default */

p, ol, ul, a, label, input, button {
    color: #37474f;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 300;
}

input {
    font-size: 14px;
}

/* Container/Flex properties default */
form {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.group {
    display: flex;
    flex-flow: column;
}

.item {
    flex: 1;
}

/* Element default */

.main {
    /* border: 1px solid #37474f; */
    border-radius: 10px;
    box-shadow: 1px 1px 3px #B6B6B6;
    padding: 10px;
}

label, input, button {
    margin: 10px;
}

.item-input {
    width: 80%;
}

.r-link:hover {
    color: #B00020;
    cursor: pointer;
}

.y-link:hover {
    color: #fdd835;
    cursor: pointer;
}

.r-btn, .y-btn {
    border: none;
    background-color: white;
}

.r-btn:hover {
    color: #B00020;
    cursor: pointer;
}

.y-btn:hover {
    color: #fdd835;
    cursor: pointer;
}

.error {
    color: #B00020;
    text-align: left;
}

.tooltip .tooltiptext {
    background-color:  #37474f;
    border-radius: 5px;
    padding: 5px;

    color: #FFF;
    font-size: 12px;
    text-align: center;
    
    bottom: 60%;
    left: 50%;
    position: absolute;
    z-index: 1;

    visibility: hidden;    
}

.disaster-program-group {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 3px;
}

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
    }

    .group {
        display: flex;
        flex-flow: row;
    }

    .main {
        /* border: 1px solid #37474f; */
        border-radius: 10px;
    }

    /* Tooltip default */

    .tooltip {
        /* display: inline-block; */
        position: relative;
    }
    
    /* .tooltip .tooltiptext {
        background-color:  #37474f;
        border-radius: 5px;
        padding: 5px;
    
        color: #FFF;
        font-size: 12px;
        text-align: center;
        
        bottom: 60%;
        left: 50%;
        position: absolute;
        z-index: 1;
    
        visibility: hidden;    
    } */
    
    .tooltip .long.tooltiptext {
        text-align: left;
        width: 150px;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 0.8;
    }

    .disaster-program-group {
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: 5px;
    }
}