.search-form-inputs-group {
    border: 1px dashed green;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.search-form-input-group {
    align-items: center;
    border: 1px dashed rgb(219, 213, 213);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.search-input-image {
    height: 300px;
    width: 75%;
}

input {
    width: 50%;
}


@media all and (min-width: 800px) {
    .search-form-inputs-group {
        flex-flow: row wrap;
    }

    .search-input-image {
        height: 300px;
        width: 100%;
    }
};