.disaster-program-group {
    border: 1px dashed #37474f;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 3px;
    margin: 3px;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
}

/* button.item {
    align-self: flex-end;
} */

@media all and (min-width: 800px) {
    .disaster-program-group {
        border: 1px dashed #37474f;
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: 5px;
        /* padding: 10px; */
        /* margin-bottom: 10px; */
    }
}