.dashboard-component-group {
    display: flex;
    flex-flow: column;
    padding: 6px 6px 3px 6px;
}

.disaster-utility-group {
    border-radius: 10px;
    box-shadow: 3px 3px 7px #B6B6B6;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 3px;
}

@media all and (min-width: 800px) {
    .dashboard-component-group {
        display: flex;
        flex-flow: column;
        padding: 10px 10px 5px 10px;
    }
    
    .disaster-utility-group {
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: 5px;
    }
}